<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>Donation CollabCode</title>

  <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">

  <link rel="stylesheet" href="/css/generic/reset.css">
  <link rel="stylesheet" href="/css/components/btn-collab.css">
</head>

<body>
  <form class="wrap-btn-collab" method="POST" action="/paypal">
    <button type="submit" class="btn-collab">Henri</button>
  </form>
</body>

</html>